@model OrderOrderDetailsViewModel

<h2>Orders</h2>

<form method="post">
    <select name="currency">
        <option value="1">EUR</option>
        <option value="2">USD</option>
        <option value="3">GBP</option>
        <option value="4">SEK</option>
    </select>

    <button asp-route-currency="">Apply</button>
</form>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>City</th>
            <th>Address</th>
            <th>State</th>
            <th>Zip code</th>
            <th>Order total</th>
            <th>Order placed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
        <tr>
            <td><a asp-controller="Admin" asp-action="OrderLogDetails" asp-route-id="@item.OrderId">@item.OrderId</a></td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.PhoneNumber</td>
            <td>@item.City</td>
            <th>@item.Address</th>
            <th>@item.State</th>
            <th>@item.ZipCode</th>
            @{
                decimal A = ViewBag.CurrencyExchange;
                var Price = item.OrderTotal * A;

                <td>@Math.Round(Price, 2) @ViewBag.CurrencySymbol</td>
            }
            <td>@item.OrderPlaced</td>
        </tr>
        }
    </tbody>
</table>

<script>

</script>