@model Candy
<h1>@Model.Name</h1>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl" />
    <div class="caption-full">
        @if (Model.IsOnSale)
        {
            <h4 class="pull-right text-muted">@Model.Price.ToString("c")</h4><br />
            <h4 class="pull-right text-danger">@((Model.Price * ((100 - Model.SalePercentage)/100)).ToString("c"))</h4>
            <h4 class="pull-right">@Convert.ToInt32(Model.SalePercentage)% &nbsp; </h4>

        }
        else
        {
            <h4 class="pull-right">@Model.Price.ToString("c")</h4>
        }
        <h3><a href="#">@Model.Name</a></h3>
        <p>@Model.Description</p>
        <p>In stock: @Model.AmountInStock</p>
    </div>
    <div class="addToCart">
        <p class="button">
            <a class="btn btn-primary"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-candyId="@Model.CandyId">Add to Cart</a>
        </p>
    </div>
</div>